* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.section-survey {
  margin: 10px 50px;
}

.section-survey .title h1 {
  text-align: center;
  font-size: 40px;
}

.section-survey .form-container {
  border-radius: 5px;
  padding: 20px;
}

.section-survey .form-container div.form-group {
  margin: 50px 0;
}

.section-survey .form-container label,
.section-survey .form-container p {
  font-size: 22px;
}

.section-survey .form-container .radio label,
.section-survey .form-container .checkbox label {
  font-size: 20px;
  color: dimgray;
  cursor: pointer;
}

.section-survey .form-container input[type=text],
.section-survey .form-container select,
.section-survey .form-container textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 3px solid black;
  margin: 30px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.section-survey .form-container input[type=radio],
.section-survey .form-container input[type=checkbox] {
  margin: 10px;
  cursor: pointer;
}

.section-survey .form-container .sendbtn {
  text-align: right;
}

.section-survey .form-container .sendbtn input[type=submit] {
  padding: 10px;
  border: 3px solid black;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  font-size: 20px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-transform: uppercase;
  outline: none;
}

.section-survey .form-container .sendbtn input[type=submit]:hover {
  background-color: #000;
  color: white;
}
